@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Oswald', sans-serif;
}

  /* Header Section */

.logo {
  max-width: 300px;
}

#navbarNav{
  justify-content: flex-end;
}

.navbar{
  background-color: #fffbf0;
  border-bottom: 1px solid rgba(202, 201, 201, 0.507);
}

  /* Banner Section */

.banner-content h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: #fabe4c;
  line-height: 65px;
  margin-bottom: 20px;
}

.banner-content h1 span {
  display: block;
  color: #363958;
}

.banner-content {
  font-size: 16px;
  color: #3e3e3e;
  padding-top: 50px;
  padding-right: 50px;
}

a.shop-btn {
  background-color: #89a41f;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 26px;
  display: inline-block;
}

a.shop-btn img {
  max-width: 25px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.banner-img img{
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

section#banner {
  padding: 80px 0;
  height: 100vh;
  background-color: #fffbf0;
}

  /* Product Section  */

#products{
  padding: 100px 0;;
}

h1.category-title {
  text-transform: uppercase;
  font-size: 50px;
  color: #363958;
  margin-bottom: 50px;
}

.margin-top{margin-top: 50px;}

.product-img-bg-1{background-image: url(../images/jackets/jacket-1.png);}
.product-img-bg-2{background-image: url(../images/jackets/jacket-2.png);}
.product-img-bg-3{background-image: url(../images/jackets/jacket-3.png);}
.product-img-bg-4{background-image: url(../images/jackets/jacket-4.png);}
.product-img-bg-5{background-image: url(../images/jackets/jacket-5.png);}
.product-img-bg-6{background-image: url(../images/jackets/jacket-6.png);}


.product-img-bg {
  background-position: center;
  background-repeat: no-repeat;
  height: 207px;
  background-size: contain;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.single-product-item {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 5px 5px 40px #f1f1f1;
  font-size: 16px;
  font-weight: 300;
  color: #3e3e3e;
  line-height: 30px;
  padding: 20px;
  margin-bottom: 50px;
}

.product-info h3 {
  text-transform: capitalize;
  font-weight: 400;
  margin: 20px 0;
}

.product-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4.product-price {
  color: #fabe4c;
  font-size: 30px;
  margin: 0;
}

.product-pricing .shop-btn {
  margin-top: 0;
}

  /* About Section  */

section#about-us {
  background-color: #fffbf0;
  padding: 50px 0;
}

.about-img img {
  max-width: 100%;
}

.single-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 10px 10px 30px #f5f5f5;
  padding: 30px !important;
  font-size: 16px;
  font-weight: 300;
  color: #3e3e3e;
}

.single-item img {
  max-width: 70px;
  margin-right: 20px;
}

.single-item-content h4 {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  color: #363958;
}

.single-item-content p {
  margin: 0;
}

.about-img {
  padding: 25px;
}

  /* Footer Section  */

#footer-area{
  padding: 50px 0;
}

.footer-logo img {
  max-width: 70%;
  margin-bottom: 40px;
}

ul.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.social-links li {
  display: inline-block;
}

ul.social-links li a {
  font-size: 20px;
  border: 1px solid #a4bc46;
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  margin-right: 8px;
  border-radius: 5px 0;
  color: #a4bc46;
}

.footer-title h4 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 25px;
  color: #363958;
}

p.info-icon i.fas {
  color: #4471e3;
}

p.info-icon .svg-inline--fa {
  color: #a4bc46;
  position: absolute;
  left: 0;
  top: 5px;
}

p.info-icon {
  position: relative;
  padding-left: 30px;
  color: #3e3e3e;
  font-size: 15px;
  font-weight: 400;
}

.payment-mthd img{
  width: 100% !important;
}

.footer-bottom {
  font-size: 15px;
  font-weight: 300;
  color: #d1d1d1;
}